<script type="text/html" id="dialogPagedTmpl">
<!--<link href="../css/dialog.css" rel="stylesheet" type="text/css" />-->
<div class="dialogWrapper">
    <div class="sheetHeader">
	    <div class="something"></div>
    </div>
    <div class="sheetContent">
    	<img src="img/portraits/portrait.jpg" width="80" height="100"  />
        <h3>User Name</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
    <div class="sheetFooter">
	    <div class="dialogAdvance">Advance >></div>
    </div>
</div>
</script>