<script type="text/html" id="dialogChatTmpl">
<!--<link href="../css/dialog.css" rel="stylesheet" type="text/css" />-->
<div class="dialogWrapper">
    <div class="sheetHeader">
	    <div class="something"></div>
    </div>
    <div class="sheetContent">
    	<img src="img/portraits/portrait.jpg" width="80" height="100"  />
        <h3>User Name</h3>
        <p><span class="dialogUser1">User1:</span> sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
        <p><span class="dialogUser2">User2:</span> eaque ipsa quae ab illo inventore veritatis et quasi</p>
    </div>
    <div class="sheetFooter">
    	<div class="dialogChat"><input name="dialogChatEntry" type="text" class="dialogChatEntry"  /><button class="submitChatEntry">Send</button></div>
  </div>
</div>
</script>

