<!DOCTYPE HTML>
    <html>
        <head>
        
        <meta charset="utf-8">
        <title>Meta Eden</title>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Exo:100,400' rel='stylesheet' type='text/css'>
        <link href='css/smoothness/jquery-ui-1.10.2.custom.min.css' rel='stylesheet' type='text/css'>
        <link href="css/threedee.css" rel="stylesheet" type='text/css'>
        <link href="css/chatbox.css" rel="stylesheet" type="text/css">
        
        
        
        <script src="js/vendor/jquery-1.9.1.min.js"></script>
        <script src="js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="js/vendor/jquery.livequery.js"></script>
        <script src="js/vendor/knockout-2.2.1.js"></script>
       
        
        
        <style>

            body {
                margin: 0;
                border: 0;
                padding: 0;
                background: #EEEEEE;
                overflow: hidden;
            }
        
        </style>
        
        </head>
    
    <body>
    	
		<audio id="PingSound" style="display: none;"></audio>
		
		
		