<!DOCTYPE HTML>
    <html>
        <head>
        <meta charset="utf-8">
        <title>Meta Eden</title>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Exo:100,400' rel='stylesheet' type='text/css'>
        <link href='css/smoothness/jquery-ui-1.10.2.custom.min.css' rel='stylesheet' type='text/css'>
        <link href="css/threedee.css" rel="stylesheet" type='text/css'>
        <link href="css/chatbox.css" rel="stylesheet" type="text/css">
        <script src="js/vendor/jquery-1.9.1.min.js"></script>
        <script src="js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="js/vendor/jquery.livequery.js"></script>
        <script src="js/vendor/knockout-2.2.1.js"></script>
        <script src="js/vendor/stats.min.js"></script>
        <script src="js/vendor/three.js"></script>
        <script src="js/vendor/tween.min.js"></script>
        <script src="js/vendor/sparks.js"></script>
        <script src="js/vendor/cannon.js"></script>
        <script src="js/meui.js"></script>
        <!-- <script src="js/meui/meui.channel.js"></script>
        <script src="js/meui/meui.chatbox.js"></script> -->
        <script src="js/me3d.js"></script>
        <script src="js/UIControl.js"></script> 
        <script src="js/me3d/me3d.interactions.js"></script>        
        <script src="js/me3d/me3d.entity.js"></script>
        <script src="js/me3d/me3d.system.js"></script>
        <script src="js/me3d/me3d.scene.js"></script>
        <script src="js/me3d/me3d.physics.js"></script>
        <script src="js/me3d/me3d.population.js"></script>
        <script src="js/me3d/me3d.emitter.js"></script>
        <script src="js/me3d/me3d.sparks.js"></script>
        <script src="js/me3d/me3d.picker.js"></script>
        <script src="js/me3d/me3d.bounds.js"></script>
        <script src="js/me3d/me3d.stage.js"></script>
        <script src="js/me3d/me3d.grid.js"></script>
        <script src="js/me3d/me3d.avatar.js"></script>
        <script src="js/me3d/me3d.testcube.js"></script>
        <script src="js/me3d/me3d.avatarmover.js"></script>
        <script src="js/me3d/me3d.builder.js"></script>
        <script src="js/me3d/me3d.controls.js"></script>
        <script src="js/me3d/me3d.transitions.js"></script>
        <script src="js/me3d/me3d.render.js"></script>
        <script src="js/me3d/me3d.world.js"></script>
        <script src="js/main.js"></script>
        
        <style>

            body {
                margin: 0;
                border: 0;
                padding: 0;
                background: #EEEEEE;
                overflow: hidden;
            }
        
        </style>
        
        </head>
    
    <body>
		<audio id="PingSound" style="display: none;"></audio>
		<div id=pubnub pub-key=pub-c-43895f98-3c97-4f05-8844-df25f2f7cf89 sub-key=sub-c-8f0032ac-90d1-11e2-bedd-12313f022c90></div>
<script src="http://cdn.pubnub.com/pubnub-3.4.min.js"></script>
<script>(function(){
 
    PUBNUB.subscribe({
        channel : "hello_world",
        message : function(m){ alert(m.msg) },
        connect : function(channel) {
            PUBNUB.publish({ channel : "hello_world", message : "Hi" })
        }
    })
 
})();</script>