<!--<script type="text/html" id="newglassTmpl">-->
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:200' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Exo:100,400' rel='stylesheet' type='text/css'>
<link href="../css/newglass.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="newsheetWrapper">
	<div class="sheetReflection"></div>
    <div class="sheetSideBackground"></div>
	<div class="sheetBackground"></div>    
    <div class="sheetHeader">
    </div>
    <div class="sheetContent">
    in your crazy FACE FACE FACE!
    </div>
    <div class="sheetFooter">
    </div>
</div>
</body>
</html>