
		<div id="splash">
            <div id="preload">
                <div class="connecting">connecting to the network...</div>
                <div id="indicator">
                    <div class="percent25"></div>
                    <div class="percent50"></div>
                    <div class="percent75"></div>
                    <div class="percent100"></div>
                    <div class="percent75"></div>
                    <div class="percent50"></div>
                    <div class="percent25"></div>
                </div>
                <div id="proceed"><button type="button" name="" value="" >Proceed</button></div>
                <div id="progress">100%</div>
            </div>
        </div>
        